.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.frame-selector {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  min-height: 6.2rem;
}

.frame-viewer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  position: relative;

  iframe {
    width: 100%;
  }

  > .tooltip {
    background-color: rgb(246, 101, 28);

    position: absolute;
    z-index: 99;
    width: 400px;
    height: fit-content;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    > p {
      font-size: 16px;
    }

    &::before {
      content: '';
      border: 32px solid rgb(246, 101, 28);
      z-index: 1;
      position: absolute;
      /* height: 64px;
      width: 64px; */
      right: -32px;
      top: calc(50% - 32px);
      transform: rotateX(73deg) rotateZ(-45deg);
    }
  }

  > .fullscreen {
    padding: 0.4rem;
    position: absolute;
    top: 93%;
    right: 1%;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 260ms linear;
    &:hover {
      transform: scale(1.2);
      background-color: #646cff55;
    }
  }
}

.frame-container {
  display: flex;
  width: 100%;
  height: calc(100% - 5.2rem);
  gap: 1.2rem;
}

.iframe-component {
  transition: all 200ms linear;
}

/* .frame-card:hover .overlay {
  background-color: antiquewhite;
} */

.frame-card:hover {
  background-color: #646cff;
}
